
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table>
    <tr>
        <td>
            <button id="AddUser">Ajouter</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="ModifUser">Modifier</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="SuprUser">Supprimer</button>
        </td>
    </tr>
</table>

