
@{
    ViewBag.Title = "Users";
}

<head>
    <link href="~/Content/AdminStyle.css" type="text/css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <h2>Users</h2>

    <div class="row">
        <button id="AddUser" class="BoutonCustom" onclick="location.href='@Url.Action("Add")'">Ajouter</button>
    </div>
    <div class="row">
        <button id="ModifUser" class="BoutonCustom" onclick="location.href='@Url.Action("Modify")'">Modifier</button>
    </div>
    <div class="row">
        <button id="DeleteUser" class="BoutonCustom" onclick="location.href='@Url.Action("Delete")'">Supprimer</button>
    </div>
</body>

